<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 	
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:task="http://www.springframework.org/schema/task" 
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.2.xsd">


	<!-- 引入数据库属性文件 -->
	<context:property-placeholder location="classpath:config.properties" />	
	<!-- 扫描注解 -->
    <context:component-scan base-package="com.stock.service,com.stock.util" /> 
       
    <!-- 定义工作类 -->
    <bean id="downloadBase" class="com.stock.task.DownloadBase"></bean>
    <bean id="downloadDetail" class="com.stock.task.DownloadDetail"></bean>
    <bean id="downloadCjmx" class="com.stock.task.DownloadCjmx"></bean>
    <bean id="downloadPerDay" class="com.stock.task.DownloadPerDay"></bean>
    
    <!-- 注册定时器  -->
    <task:scheduled-tasks> 
    	<task:scheduled ref="downloadBase" method="execute" cron="5 25 9 * * *"/> 
    	<task:scheduled ref="downloadBase" method="execute" cron="50 0 13 * * *"/>
    	<task:scheduled ref="downloadDetail" method="execute" cron="20 25 9 * * *"/> 
    	<task:scheduled ref="downloadDetail" method="execute" cron="10 0 13 * * *"/> 
    	<task:scheduled ref="downloadPerDay" method="execute" cron="0 20 17 * * *"/>
    	<task:scheduled ref="downloadCjmx" method="execute" cron="0 30 17 * * *"/>
	</task:scheduled-tasks> 
    

</beans>